{% load static %}
<html lang="en" style="height:100%;">
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="" />
        <meta name="description" content="Contact us" />
        <!-- Core CSS -->
        <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
        <link href='{% static "css/font-awesome.min.css" %} ' rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->
        <link href="{% static 'css/style-library-1.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
        <link href="{% static 'css/blocks.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    </head>
    <body data-spy="scroll" data-target="nav">
        <section class="content-block contact-1">
            <div class="container text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="underlined-title">
                        <h1>Get in Touch</h1>
                        <hr>
                        <h2>Feel free to drop us a line to contact us</h2>
                    </div>
                    <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
                    <ul class="contact-info">
                        <li>
                            <span class="fa fa-map-marker"></span>
                            <wp-span>16 Queen's Mews, Covent Garden, London, LO2 4ON</wp-span>
                        </li>
                        <li>
                            <span class="fa fa-phone"></span>
                            <wp-span>+44 (0) 1234 5678</wp-span>
                        </li>
                        <li>
                            <span class="fa fa-envelope"></span>
                            <a href="mailto:buyme@example.com">test@example.com</a>
                        </li>
                    </ul>
                    <div id="contact" class="form-container">

                        <form method="POST"  name="contactform" id="contactform">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control" required='True' />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input name="email" id="email" type="email" value="" placeholder="Email" class="form-control" required='True' />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input name="phone" id="phone" type="number" value="" placeholder="Phone" class="form-control" required='True' />
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="form-group">
                                <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
                                <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-default" name="submit" >Send</button>
                            </div>

                        </form>
                    </div>
                    <!-- /.form-container -->
                </div>
                <!-- /.col-sm-10 -->
            </div>
            <!-- /.container -->
        </section>
        <div class="copyright-bar bg-black">
            <div class="container">
                <p class="pull-left small">© Sakkhar</p>
                <p class="pull-right small">Made with <i class="fa fa-heart pomegranate"></i></p>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bskit-scripts.js' %}"></script>
    </body>
</html>
